Package: ${PACKAGE}
Version: ${VERSION}
Section: net
Priority: optional
Architecture: all
Depends: perl,
 libnet-server-perl,
 liblog-log4perl-perl,
 liblog-dispatch-perl,
 libio-stringy-perl,
 libio-socket-ssl-perl,
 libnet-ldap-perl,
 libcrypt-passwdmd5-perl,
 sysvinit-utils
Recommends: openvpn-auth-client
Suggests: libauthen-krb5-simple-perl,
 libauthen-sasl-perl,
 libauthen-sasl-cyrus-perl,
 libauthen-pam-perl,
 libauthen-radius-perl,
 libdigest-md5-perl,
 libdigest-sha1-perl, 
 libcrypt-smbhash-perl,
 libdigest-whirlpool-perl,
 libdbi-perl,
 libdbd-mysql-perl 
Homepage: https://github.com/bfg/openvpn_auth
Description: Flexible OpenVPN authentication server and client configuration tools
